
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-heart-empty:before { content: '\e807'; } /* '' */
.icon-user-plus:before { content: '\e808'; } /* '' */
.icon-user-times:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-female:before { content: '\e80b'; } /* '' */
.icon-child:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-videocam:before { content: '\e80e'; } /* '' */
.icon-camera:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-minus:before { content: '\e812'; } /* '' */
.icon-download-cloud:before { content: '\e813'; } /* '' */
.icon-upload-cloud:before { content: '\e814'; } /* '' */
.icon-direction:before { content: '\e815'; } /* '' */
.icon-arrows-cw:before { content: '\e816'; } /* '' */
.icon-play:before { content: '\e817'; } /* '' */
.icon-stop:before { content: '\e818'; } /* '' */
.icon-pause:before { content: '\e819'; } /* '' */
.icon-to-end:before { content: '\e81a'; } /* '' */
.icon-signal:before { content: '\e81b'; } /* '' */
.icon-to-start:before { content: '\e81c'; } /* '' */
.icon-wifi:before { content: '\e81d'; } /* '' */
.icon-mobile:before { content: '\e81e'; } /* '' */
.icon-globe:before { content: '\e81f'; } /* '' */
.icon-off:before { content: '\e820'; } /* '' */
.icon-home:before { content: '\e821'; } /* '' */
.icon-link-ext:before { content: '\e822'; } /* '' */
.icon-link:before { content: '\e823'; } /* '' */
.icon-attach:before { content: '\e824'; } /* '' */
.icon-lock:before { content: '\e825'; } /* '' */
.icon-lock-open:before { content: '\e826'; } /* '' */
.icon-pin:before { content: '\e827'; } /* '' */
.icon-share:before { content: '\e828'; } /* '' */
.icon-cog:before { content: '\e829'; } /* '' */
.icon-menu:before { content: '\e82a'; } /* '' */
.icon-basket:before { content: '\e82b'; } /* '' */
.icon-award:before { content: '\e82c'; } /* '' */
.icon-youtube-play:before { content: '\e82d'; } /* '' */
.icon-vimeo-squared:before { content: '\e82e'; } /* '' */
.icon-twitter:before { content: '\e82f'; } /* '' */
.icon-twitch:before { content: '\e830'; } /* '' */
.icon-skype:before { content: '\e831'; } /* '' */
.icon-apple:before { content: '\e832'; } /* '' */
.icon-windows:before { content: '\e833'; } /* '' */
.icon-sort-name-up:before { content: '\e834'; } /* '' */
.icon-sort-number-up:before { content: '\e835'; } /* '' */